<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Bienvenido a SGPM</h1>
      <p>La solución para la gestión eficiente de puentes en tu municipio. Nos dedicamos a simplificar y optimizar el proceso de inspección e inventario de puentes, garantizando el registro óptimo de estas estructuras vitales.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="assets/images/image-home.svg" alt="SGPM Team Inspecting Bridge" class="img-fluid">
    </div>
  </div>
</div>
