<div class="container mt-5">
  <div class="card">
    <div class="text-center mt-5">
      <img src="assets/images/logo.svg" alt="Logo" width="100">
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Correo Electrónico"
          />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Correo electrónico es requerido.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Correo electrónico no es válido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Contraseña"
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerida.</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
          </div>
        </div>
        <div class="text-center mt-5 mb-5">
          <button class="btn btn-warning" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
