.card {
  max-width: 550px;
  width: 500px;
  margin: 100px auto auto;
  border: none;
}

.btn-warning {
  background-color: #F29E23;
  height: auto;
  width: auto;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

