.search {
    margin-left: 30%;
    margin-right: 30%;
    font-family: Poppins, sans-serif;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.1);
}

.btn-outline-warning {
    border-color: #F29E23;
    color: #F29E23;
    white-space: nowrap;
}

.div register {
    overflow: hidden;
}

.drawer-content {
    display: none;
    border-color: #F0F0F0;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Poppins, sans-serif;
}

.drawer-content .btn-primary {
    background-color: #0097B2;
    border-color: #0097B2;
}