<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#26DB00"></rect>
          </svg>
          <strong class="me-auto">SGPM</strong>
          <small></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
          ¡Usuario creado exitosamente!
      </div>
  </div>
</div>

<div class="container my-5">
  <h1 class="text-center mb-5">Gestión de Usuarios</h1>

  <div class="d-flex search mb-5">
    <div class="input-group">
      <app-search-bar (changeQuery)="changeQuery($event)" />
    </div>
    <button class="btn btn-outline-warning ms-2" (click)="isOpen = !isOpen" type="submit">Registrar Usuario</button>
  </div>

  <div [hidden]="!isOpen" [@openClose]="isOpen ? 'open' : 'closed'">
    <div
      class="drawer-content d-flex register justify-content-center flex-column align-items-center pb-5 mb-5 pt-5 rounded-5 border border-2">
      <app-account-form (userRegistered)="handleUserRegistered()"></app-account-form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" class="text-center"><strong>No. Identificacion</strong></th>
          <th scope="col" class="text-center"><strong>Correo Electronico</strong></th>
          <th scope="col" class="text-center"><strong>Nombre</strong></th>
          <th scope="col" class="text-center"><strong>Municipio</strong></th>
        </tr>
      </thead>
      <tbody>
        @for (user of users$ | async; track user.id) {
        <tr>
          <td class="text-center">{{ user.identification }}</td>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.name }} {{ user.surname }}</td>
          <td class="text-center">{{ user.municipality || '-' }}</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
