<div class="container my-5">
  <h1 class="text-center mb-5">Gestión de Usuarios</h1>

  <div class="d-flex search mb-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar: No. Identificación, Usuario, Correo Electrónico"
        aria-label="Search">
      <button class="btn btn-outline-secondary" (click)="onSubmit()" type="button" id="button-addon2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-search">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </button>
    </div>
    <button class="btn btn-outline-warning ms-2" (click)="isOpen = !isOpen" type="submit">Registrar Usuario</button>
  </div>

  <!--div class="mb-3">
    <div class="d-flex justify-content-center mb-5">
      <button class="btn btn-outline-warning ms-2" (click)="isOpen = !isOpen" type="submit">Registrar Usuario</button>
    </div>
  </div-->
  <div [hidden]="!isOpen" [@openClose]="isOpen ? 'open' : 'closed'">
    <div
      class="drawer-content d-flex register justify-content-center flex-column align-items-center pb-5 mb-5 pt-5 rounded-5 border border-2">
      <app-account-form></app-account-form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" class="text-center"><strong>No.</strong></th>
          <th scope="col" class="text-center"><strong>No. Identificacion</strong></th>
          <th scope="col" class="text-center"><strong>Correo Electronico</strong></th>
          <th scope="col" class="text-center"><strong>Nombre</strong></th>
          <th scope="col" class="text-center"><strong>Municipio</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async; index as i">
          <th scope="row" class="text-center">{{ i + 1 }}</th>
          <td class="text-center">{{ user.identification }}</td>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.name }} {{ user.surname }}</td>
          <td class="text-center">{{ user.municipality || '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>