
<h1 class="inspection-title">Formato de inspección de puentes</h1>
<form (ngSubmit)="onSubmit()" class="mx-auto">
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre" [(ngModel)]="bridgeBasicInfo.name"
               name="bridgrName" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputRegional">Identificación</label>
        <input type="number" class="form-control" id="inputRegional" placeholder="Regional"
               [(ngModel)]="bridgeBasicInfo.regionalId" name="bridgeRegionalId" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputRoadID" class="color">h</label>
        <input type="number" class="form-control" id="inputRoadID" placeholder="Carretera"
               [(ngModel)]="bridgeBasicInfo.roadId" name="bridgeRoadId" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="inputBridge" class="color">h </label>
        <input type="number" class="form-control" id="inputBridge" placeholder="Puente"
               [(ngModel)]="bridgeBasicInfo.bridgeId" name="bridgeBridgeDd" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputRoad">Carretera</label>
        <input type="text" class="form-control" id="inputRoad" placeholder="Carretera" [(ngModel)]="bridgeBasicInfo.road"
               name="bridgeRoad" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="inputPR">PR</label>
        <input type="text" class="form-control" id="inputPR" placeholder="PR" [(ngModel)]="bridgeBasicInfo.pr"
               name="bridgePR" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="inputDate">Fecha</label>
        <input type="Date" class="form-control" id="inputDate" placeholder="Fecha" [(ngModel)]="formInspection.date"
               name="inspectionDate" [min]="currentMonthStart"
               [max]="currentMonthEnd"
               #dateField="ngModel"
               [ngClass]="{'is-invalid': dateField.invalid && dateField.touched}"
               [readonly]="viewMode === 'view'"
               [required]="viewMode !== 'view'"
        >

        <div *ngIf="dateField.invalid && dateField.touched" class="invalid-feedback">
          Este campo es obligatorio.
        </div>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputTemperat">Temperatura</label>
        <input
          type="number"
          class="form-control"
          id="inputTemperat"
          placeholder="Temperatura"
          [(ngModel)]="formInspection.temperature"
          name="inspectionTemperature"
          [readonly]="viewMode === 'view'"
          [required]="viewMode !== 'view'"
          [ngClass]="{'is-invalid': (temperatureField.invalid && temperatureField.touched) || temperatureField.value < 0 || temperatureField.value > 50}"
          #temperatureField="ngModel"
        >

        <div *ngIf="(temperatureField.touched && temperatureField.invalid) || temperatureField.value < 0 || temperatureField.value > 50" class="invalid-feedback">
          Debe estar entre 0 y 50
        </div>

      </div>
      <div class="form-group col-md-3">
        <label for="inputInspector">Inspector</label>
        <input type="text" class="form-control" id="inputInspector" placeholder="Inspector"
               [(ngModel)]="formInspection.inspector" name="inspectionInspector"
               [ngClass]="{'is-invalid': inspectorField.invalid && inspectorField.touched}"
               #inspectorField="ngModel"
               [readonly]="viewMode === 'view'"
               [required]="viewMode !== 'view'"
        >
        <div *ngIf="inspectorField.invalid && inspectorField.touched" class="invalid-feedback">
          Este campo es obligatorio.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="inputAdministrador">Adminsitrador</label>
        <input type="text" class="form-control" id="inputAdministrador" placeholder="Administrador"
               [(ngModel)]="formInspection.administrator" name="inspectionAdministrator"
               #administratorField="ngModel"
               [ngClass]="{'is-invalid': administratorField.invalid && administratorField.touched}"
               [readOnly]="viewMode === 'view'"
               [required]="viewMode !== 'view'"
        >
        <div *ngIf="administratorField.invalid && administratorField.touched" class="invalid-feedback">
          Este campo es obligatorio.
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="inputNextYearInspection">Año prox. insp.</label>
        <select
          class="form-control"
          id="inputNextYearInspection"
          [(ngModel)]="formInspection.nextInspectionYear"
          name="inspectionYear"
          [disabled]="viewMode === 'view'"
          [required]="viewMode !== 'view'"
        >
          <option value="-1" disabled selected>Seleccionar Año</option>
          <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="inspection-subtitle">PASOS</h2>


    <div *ngFor="let component of formInspection.inspectionComponents; let i = index" class="card mb-4">
      <div class="card-header">
        <h2>{{ componentNames[i] }}</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="rating{{i}}">Calificación</label>
              <select
                class="form-control"
                id="damageRating{{i}}"
                [(ngModel)]="component.rating"
                name="damageRating{{i}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="-1" disabled selected>Seleccione una calificación</option>
                <option *ngFor="let option of damageRatingList" [value]="option.value">
                  {{ option.label }}
                </option>

              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="maintenance{{i}}">Mantenimiento</label>
              <select
                class="form-control"
                id="maintenance{{i}}"
                [(ngModel)]="component.maintenance"
                name="maintenance{{i}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="1">+</option>
                <option value="2">-</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="specializedInspection{{i}}">Insp. Esp.</label>
              <select
                class="form-control"
                id="specializedInspection{{i}}"
                [(ngModel)]="component.specializedInspection"
                name="specializedInspection{{i}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="1">+</option>
                <option value="2"></option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="damageType{{i}}">Tipo de daño</label>

              <select
                class="form-control"
                id="damageType{{i}}"
                [(ngModel)]="component.damageType"
                name="damageType{{i}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="" disabled selected>Seleccione un tipo de daño</option>
                <option *ngFor="let option of damageTypeList" [value]="option.value">
                  {{ option.label }}
                </option>

              </select>
            </div>

          </div>
          <div>
            <div class="form-group">
              <div *ngIf="viewMode !== 'view'">
                <input
                  type="file"
                  accept="image/*"
                  multiple
                  (change)="uploadPhotos($event, component)"
                  id="componentPhoto{{i}}"
                  style="display: none;"
                >
              </div>

              <div *ngIf="viewMode !== 'view'">
                <button
                  class="btn btn-primary"
                  (click)="clickFileInput(i)"
                >
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  Subir Fotos
                </button>
              </div>

            </div>


            <div class="form-group " *ngIf="component.photos.length>0">
              <label>Fotos Cargadas:</label>
              <ul>
                <li *ngFor="let photoUrl of component.photos; let k = index" class="mt-1">
                  <a [href]="photoUrl" target="_blank">Foto {{k+1}} {{component.name}}</a>

                    <button class="btn btn-danger btn-sm ml-5" [hidden]="viewMode ==='view'" (click)="deletePhoto(component, k)">Eliminar</button>

                </li>
              </ul>
            </div>

          </div>


          <div *ngFor="let repair of component.repairs; let j = index">
            <h2>Reparación {{ j + 1 }}</h2>

            <div class="form-group">
              <label for="repairType{{i}}{{j}}">Tipo de reparación</label>
              <select
                class="form-control"
                id="repairType{{i}}{{j}}"
                [(ngModel)]="repair.type"
                (change)="updateUnit(i, j, repair.type, componentNames[i])"
                name="repairType{{i}}{{j}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="" disabled selected>Seleccione un tipo de reparación</option>
                <option *ngFor="let option of updateRepairOptions(componentNames[i])" [value]="option.type">
                  {{ option.description }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="repairQuantity{{i}}{{j}}">Cantidad</label>
              <input
                type="number"
                class="form-control"
                id="repairQuantity{{i}}{{j}}"
                [(ngModel)]="repair.quantity"
                name="repairQuantity{{i}}{{j}}"
                [readOnly]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
                min="0.00001"
                #repairQuantity="ngModel"
                [ngClass]="{'is-invalid': repairQuantity.invalid && repairQuantity.touched}"
              >

              <div *ngIf="repairQuantity.invalid && repairQuantity.touched" class="invalid-feedback">
                Debe ser mayor que cero.
              </div>


              <span>{{ repair.unit }}</span>
            </div>
            <div class="form-group">
              <label for="repairYear{{i}}{{j}}">Año</label>
              <select
                class="form-control" id="repairYear{{i}}{{j}}" [(ngModel)]="repair.year"
                name="repairYear{{i}}{{j}}"
                [disabled]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
              >
                <option value="-1" disabled selected>Seleccionar Año</option>
                <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="repairCost{{i}}{{j}}">Costo</label>
              <input
                type="number"
                class="form-control"
                id="repairCost{{i}}{{j}}"
                [(ngModel)]="repair.cost"
                name="repairCost{{i}}{{j}}"
                [readOnly]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
                min="0"
                #repairCost="ngModel"
                [ngClass]="{'is-invalid': repairCost.invalid && repairCost.touched}"
              >
              <div *ngIf="repairCost.invalid && repairCost.touched" class="invalid-feedback">
                El costo debe ser un número positivo.
              </div>

            </div>
            <div class="form-group">
              <label for="repairDamage{{i}}{{j}}">Observaciones</label>
              <input type="text" class="form-control" id="repairDamage{{i}}{{j}}" [(ngModel)]="repair.damage"
                     name="repairDamage{{i}}{{j}}"
                     [readOnly]="viewMode === 'view'"
                     [required]="viewMode !== 'view'"
              >
            </div>

          </div>

          <div class="form-group" *ngIf="viewMode !== 'view'">
            <button type="button" class="btn btn-primary" (click)="addRepair(i)">Adicionar reparación</button>
            <button type="button" class="btn btn-danger mx-5" (click)="removeRepair(i)">Eliminar reparación</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="form-group">
      <label for="inputGeneralObservations">OBSERVACIONES GENERALES</label>
      <textarea class="form-control" id="inputGeneralObservations" [(ngModel)]="formInspection.generalComments" name="inputGeneralObservations"
                [readOnly]="viewMode === 'view'"
                [required]="viewMode !== 'view'"
      ></textarea>
    </div>
  </div>
  <div class="text-center mb-1" *ngIf="viewMode !== 'view'">
    <button type="submit" class="btn btn-warning rounded-4">GUARDAR FORMULARIO</button>
  </div>
  <div class="text-center mb-5" *ngIf="viewMode !== 'view'">
    <button type="button" class="btn btn-outline-danger rounded-4" (click)="cancel()">CANCELAR</button>
  </div>

</form>
